/* proprietà generali */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Livvic', Courier, monospace
}

:root{
    --dark-blue: #100645;
    --dark-green: #2E6754;
    --text-white: #fff;
    --snow: #D4D6F5;
    --header-blue: #2D28EB;
    --box-modal: #de7db7;
}

body{
    background-color: var(--dark-blue);
}

.container {
    margin: 0 auto;
    width: 50%;
}

/* header */
#box-image{
    color: var(--text-white);
    height: 200px;
    background-image: url('./images/header-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 2rem;
    background-color: var(--header-blue);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#box-image h2{
    padding: 1.8rem 0;
    text-align: center;
}

/* MAIN */
/* contentiore delle caselle */
#wrap-container{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

/* caselle dei giorni */
.number,
.christmas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.number{
    width: calc(100% / 8 - 15px);
    aspect-ratio: 1 / 1;
    background-color: var(--dark-green);
    color: var(--text-white);
}

.number img,
.christmas img{
    width: 2rem;
    height: 2rem;
}

.days{
    font-weight: bold;
    font-size: 2rem;
}

.christmas{
    width: 100%;
    padding: 0.8rem 0;
    background-color: var(--snow);
    color: var(--dark-green)
}

.number,
.christmas{
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

/* classe che cambia lo stile della casella quando cliccata */
.clicked{
    background-color: transparent;
    filter: brightness(50%);
}

/* pulsante reset */

.btn-box{
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}

#reset{
    padding: 8px 16px;
    border-radius: 10px;
    border: transparent;
    color: var(--text-white);
    background-color: var(--header-blue);
    cursor: pointer;
}

#reset:hover{
    background-color: rgb(84, 84, 255);
}

/* modale */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(16, 6, 69, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--box-modal);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 40%;
    animation: zoomIn 0.6s ease-in-out
}

.modal-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.modal-content p{
    font-size: 1.2rem;
    color: var(--dark-blue);
    font-weight: 500;
    margin: 0.8rem 0;
}


.close-modal {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--header-blue);
    color: var(--text-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* animation */

@keyframes zoomIn {
    from{
        transform: scale(0);
    }

    to{
        transform: scale(1);
    }
}

/* responsive */

@media (max-width: 1200px){

    .container {
            width: 70%;
        }

}

@media (max-width: 992px){

    .container {
            width: 80%;
        }
}

@media (max-width: 1024px){

    
}

@media (max-width: 800px) {

    #wrap-container {
        gap: 8px;
    }

    .number {
        width: 15%;
        aspect-ratio: 1 / 1;
    }

    .modal-content {
        max-width: 85%;
    }
}

@media (max-width: 600px){

    .number img,
    .christmas img {
        width: 1.5rem;
        height: 1.5rem;
    }

    .days{
        font-size: 1.5rem;
    }
}

@media (max-width:500px){

    .number{
        width: 20%;
    }

    .christmas{
        padding-top: 0.4rem;
    }
}

@media (max-width: 480px) {

    .number img,
        .christmas img {
            width: 2rem;
            height: 2rem;
        }
    
        .days {
            font-size: 2rem;
        }

    .number {
            width: 30%;
        }

    #wrap-container {
        gap: 5px;
    }

    #reset {
        padding: 5px 8px;
        font-size: 0.7rem;
    }
}

@media (max-width: 320px){

    .number img,
    .christmas img {
        width: 1.5rem;
        height: 1.5rem;
    }
    
    .days {
        font-size: 1.5rem;
    }
}

@media (min-width: 1500px) {

    .number {
        width: 10%;
    }

    .modal-content {
        max-width: 35%;
    }
}
