*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Livvic', Courier, monospace
}

:root{
    --dark-blue: #100645;
    --dark-green: #2E6754;
    --text-white: #fff;
    --snow: #D4D6F5;
    --header-blue: #2D28EB;
}

body{
    background-color: var(--dark-blue);
}

#box-image{
    color: var(--text-white);
    height: 200px;
    background-image: url('./img/header-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 35px;
    background-color: var(--header-blue);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#box-image h2{
    padding: 1.8rem 0;
    text-align: center;
}

.container{
    margin: 0 auto;
    width: 50%;
}

#wrap-container{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    color: var(--text-white);
}

.number{
    /* height: calc(50vh / 4 - 15px); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(50vh / 4 - 15px);
    width: calc(50vh / 4 - 15px);
    background-color: var(--dark-green);
}

.number img{
    width: 30px;
    height: 30px;
}

.days{
    font-weight: bold;
    font-size: 30px;
}

#december{
    width: 100%;
    height: calc(50vh / 4 - 15px);
    background-color: var(--snow)
}

.number,
#december{
    border-radius: 10px;
}